/* The navbar container */
nav {
    overflow: hidden;
    background-color: black;
    justify-items: center;
}
  
/* Navbar links */
nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    background-color: black;
    font-weight: bold;
    font-size: 12px;
}

/* Links - change color on hover */
nav a:hover {
    color: rgb(0, 195, 255);
}

/* Fixes bullet point issue in navbar */
li {
    list-style-type:none;
}