/* The navbar container */
nav {
    overflow: hidden;
    background-color: black;
    justify-items: center;
}
  
/* Navbar links */
nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    background-color: black;
    font-weight: bold;
    font-size: 12px;
}

/* Links - change color on hover */
nav a:hover {
    color: rgb(0, 195, 255);
}


/* This is for the dropdown menu item */
.NavDrop {
    display: flex;
    align-items: center;
    float: right;
}