/* The navbar container */
nav {
    overflow: hidden;
    background-color: rgb(49, 49, 49);
}
  
/* Navbar links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    background-color: rgb(49, 49, 49);
}

/* Links - change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Fixes bullet point issue in navbar */
li {
    list-style-type:none;
}