/* Boxes with information on specific exercises */
.Box {
    height: fit-content;
    margin: 30px;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for text inside exercise boxes */
.Box p {
    background-color: rgb(49, 49, 49);
    white-space: pre-line;
    margin: 15px;
}

/* Style for exercise box headers */
.Box h3 {
    background-color: rgb(49, 49, 49);
    white-space: pre-line;
    margin: 15px;
}