@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/* Default settings for the site */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    color: white;
    overflow-wrap: break-word;
}

body {
    background-image: url("background.png");
    background-size: cover;
}

/* The navbar container */
nav {
    overflow: hidden;
    background-color: rgb(49, 49, 49);
}
  
/* Navbar links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(49, 49, 49);
}

/* Links - change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Fixes bullet point issue in navbar */
li {
    list-style-type:none;
}
 

/* Boxes with information on specific exercises */
.Exercise {
    height: fit-content;
    margin: 50px;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background fill for text inside exercise boxes */
.Exercise p {
    background-color: rgb(49, 49, 49);
    white-space: pre-line;
}